@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro:400,600);

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
  -webkit-user-select: none;
  user-select: none;
}

*:not(a):not(a *) {
  cursor: default;
}

html {
  height: 100%;
}

body {
  background:gray;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  color: #7A7C80;
  min-height: 100%;
}

h1 {
  font-weight: 100;
  font-size: 27px;
  color: white;
}
h2{
  font-weight: 50;
  font-size: 22px;
  color: DarkGray;
}

.full-size {
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
}
/* #medium{
  width: 100% !important;
} */

@media only screen and (max-width: 801px) {
  #screen1{
    width: 0px;
    display: none;
  }
  #screen2{
    width: 0px;
    display: none;
  }
#hi1{
  display: none;
}
#hi2{
  display: none;
}
#hi3{
  display: none;
}
#drone
{
display: none;
}

}
#page {

  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  width = 100%

}
#page1 {


top: 0%;
left: 0;
right: 0;
margin-top: 0px;

 text-align: center;
 width = 100%
}


#iOS{
padding-top: 1%;
border-width: 0px;
}
#iOS1{
padding-top: 1%;
border-width: 0px;
}

#drone{
  /*fixed for all the website*/
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 110%;
  min-height: 110%;
  width: 100%;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(screenshot.jpg) no-repeat;
  background-size: 150%;
}


#overallDiv{
  padding-top: 10%;
}
#divBtn2{
   align:left;
  width: 35px;
padding-left: 50px;



}
#pause{

  background-color: transparent;
  border-width: 0px;


}
#pause2{
  display: none;
  background-color: transparent;
  border-width: 0px;

}
#divBtn{
   align:left;
  width: 35px;
  padding-left: 50px;


}
#play{
  display: none;
  color: transparent;
  background-color: transparent;
  border-width: 0px;
}
#play2{
  color: transparent;
  background-color: transparent;
  border-width: 0px;
  padding-bottom: 4px;
}
#demo{
  color: #FFFFFF
}

#divBtnV2{   align:left;
  width: 35px;
padding-left: 48px;

}
#pauseV{
  color: transparent;
  background-color: transparent;
  border-width: 0px;
}
#pauseV2{
  display: none;
  background-color: transparent;
  border-width: 0px;
}
#divBtnV{
  align:left;
 width: 35px;
 padding-left: 48px;
}
#playV{
  display: none;
  color: transparent;
  background-color: transparent;
  border-width: 0px;
}
#playV2{
  color: transparent;
  background-color: transparent;
  border-width: 0px;
}

/*@media only screen and (max-height: 580px),
       only screen and (max-width: 580px) {

}*/

#stroop{


}

#screen1{
text-align: left;
margin-top: -400px;
padding-left: 4%;
}
#screen2{
text-align: right;
margin-top: -400px;
padding-right: 4%;
}

#text{


}
#des{


}
#textContent{
  text-align: center;
  padding-top: 4%;
  height: auto;
  padding-bottom: 2%;
}
#hi{
  padding-top: 2%;
  font-weight: 100;
  font-size: 23px;
}#hi1{
  padding-top: 2%;
  font-weight: 200;
  font-size: 23px;
}#hi2{
  padding-top: 2%;
  font-size: 23px;
}#hi3{
  padding-top: 2%;
  font-size: 23px;
  padding-bottom: 1%;

}


#header-content {
  padding-top: 7%;
  text-align: center;

}
#header-content1{
  padding-top: 7%;
  text-align: center;
}
#header-logo {
  text-align: center;
}

#header-content #logo {
  margin-bottom: 10px;
}
#header-content1 #logo1{
  margin-bottom: 10px;
}
#header-content p {
  padding-top: 2px;
}
#header-content1 p{
  padding-top: 2px;
}
#contact {
  padding-top: 12px;
}

#contact a {
  display: inline-block;
  margin-right: 5px;
}/*changes stripes displacement for icons*/

#contact a,
#contact a svg {
  width: 42px; /* edits smaller logos size*/
  height: 35px;
  cursor: pointer;
}

#contact a svg path {
  fill: #7A7C80;
}
#contact a:hover svg path {
  fill: #adb0b6;
}

#content {
  position: absolute;
  left: 50%;
  width: 50%;
}

section {
  margin-bottom: 30px;
}


a.more {
  font-size: 16px;
  text-decoration: none;
}

a.more svg {
  width: 6px;
  height: 10px;
  margin-left: 7px;
}

a.more {
  color: #B0B1B3;
}
a.more .arrow {
  fill: #B0B1B3;
}
a.more:hover {
  color: #adb0b6;
}
a.more:hover .arrow {
  fill: #adb0b6;
}

#page-stripes {
  pointer-events: none;
}



#intro {
  background: #101214;
  pointer-events: none;
}

#logo-container {
  transform-origin: 50% 50%;
  transform: scale(0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#logo-container > svg {
  width: 70vw;
  height: 70vh;
  max-width: 640px;
  max-height: 540px;
}
